@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #201409;
    --background-color: #FEFAE0;
    --border-color: #283618 ;
    --table-border-color: #606C38;
    --link-color: #BC6C25;
    --link-color-hover: #DDA15E;
    --text-color2: #F6F7F3;

    --title-font: 'Space Grotesk';
    --content-font: 'Roboto Slab';
}

li, a, p,
figcaption,
tr,th,
caption,
button,
label {
    font-family: var(--content-font);
}

h1, h2, h3, h4,
caption, th,
legend {
    font-family: var(--title-font);
}

p, a,
li,
caption, th, tr,
h1, h2, h3, h4,
legend, label {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*=========
Header text
=========*/
header > div > figure > img {
    width: 75%;
}

header > div {
    background-color: var(--background-color);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1rem;
}

/*=========================================
For the navigation element in small screens
=========================================*/

/*------------------------------
Menu button positioning and icon
------------------------------*/
/*~~~ Menu Position ~~~*/
#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    color: var(--text-color);
    text-decoration: none;
}

/*~~~ Menu content when closed ~~~*/
#menu::before {
    content: "\2630";
    font-weight: 1000;
    font-size: large;
    cursor: pointer;
}

/*~~~ Menu content when open ~~~*/
#menu.show::before {
    content:"X";
}


/*----------------
Menu items display
----------------*/
/*~~~ Display for <nav> element when closed ~~~*/
.navigation {
    display: none;
    background-color: var(--link-color);
}

/*~~~ Display for <nav> items when closed ~~~*/
.navigation a {
    display: none;
    text-decoration: none;
    color: var(--text-color);
    text-align: right;
    padding: 1rem;
}

/*~~~ Display for <nav> items when being :hover and is :active ~~~*/
.navigation a:hover, .navigation a:active {
    color:var(--text-color);
    background-color: var(--link-color-hover);
}

/*~~~ Changes the {display} of <nav> from  {:none} to {:block} ~~~*/
/*+++ Requires js to be implemented properly +++*/
/*+++ Must be put after .navigation {display: none;} to be implemented +++*/
.show,
.show a {
    display: block;
}

/*~~~ Styles the active menu ~~~*/
li.activeMenu a{
    color:var(--header-text-color);
    background-color: var(--nav-active-color);
}


/*==================================================
General design for the main content in small screens
==================================================*/
main {
    background: url('../images/yoda_background.webp') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*===========================
General design for containers
===========================*/
main > div,
main > section,
main > form {
    background-color: var(--background-color);
    border: solid 20px var(--border-color);
    border-radius: 25px;
    width: 80%;
    margin: 16px;
    padding: 1rem;
}

section {
    display: flex;
    flex-flow: row wrap;
}

section > div{
    width: 100%;
    align-items: center;
    justify-content: center;
}

section > div > a {
    display: block;
}

section > div > h2,
section > div > p{
    padding: 1rem;
    line-height: 1.5rem;
}

/*====
Button
====*/
button {
    padding: 10px;
    border-radius: 15px;
    margin: 1rem;
    background-color: var(--link-color);
}

button:hover {
    background-color: var(--link-color-hover);
}

/*===
Input
===*/
input {
    margin: 15px 0px;
    padding: 5px;
    width: 100%;
}

/*========
Quote Card
========*/
.quoteCard {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 1rem;
    padding: 10px;
    transition: transform 0.5s;
}

.quoteCard:hover {
    transform: scale(1.05);
}

/*==========
General Form
==========*/
form {
    display: flex;
    flex-flow: column wrap;
    border: 15px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--div-bg-color);
    margin: 15px;
}

label,
input {
    display: block;
}

label {
    margin: 20px;
}

legend {
    padding: 0 5px;
    margin: 15px;
}

form input {
    height: 1.5rem;
    width: 100%;
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    background-color: #eee;
    margin: 10px 0;
}

form input[required]:invalid {
    border-left: 5px solid #a11;
}

form input[required]:valid {
    border-left: 5px solid #1a1;
}

form input[type="submit"] {
    text-align: center;
    width: 90%;
    height: 2.5rem;
    margin: 25px auto;
    color: var(--text-color2);
    background-image: linear-gradient(#622, #400);
    border: none;
}

form input[type="submit"]:hover {
    color: var(--text-color2);
    background-image: linear-gradient(#733, #511);
    cursor: pointer;
}


/*==================
Animation for images
==================*/

main img {
    animation: lazy 2.5s;
}

@keyframes lazy {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/*=================
Design for <footer>
=================*/
footer {
    background-color: var(--background-color);
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
}

footer > div {
    margin: 1rem;
}

footer > div > p {
    padding: 0.25rem;
}

footer > div:nth-of-type(2) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

footer > div:nth-of-type(2) > a {
    margin: 0 16px;
}

/*Miscellaneous class*/

.activeMenu {
    background-color: var(--link-color-hover);
}

.bolder {
    font-size: larger;
    font-weight: bolder;
}

.link {
    padding: 1rem;
    background-color: var(--link-color);
    border: none;
    border-radius: 1.25rem;
    text-align: center;
}

.link:hover {
    background-color: var(--link-color-hover);
}


/*================
Large media screen 
================*/
@media screen and (min-width: 45rem) {
    #menu {
        display: none;
    }
    
    .navigation {
        margin: 0;
        display: block;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .navigation li {
        list-style: none;
        width: 25%;
    }
    
    .navigation a{
        display: block;
        flex: 2 1 100%;
        text-align: center;
        width: 100%;
    }

    section > div,
    section > figure {
        width: 50%;
    }

    section > figure {
        flex-flow: column wrap;
    }
}